/*
|====================================================
| PAGE LAYOUT STYLES
|====================================================
*/

/* PLACEHOLDER STYLES = remove when customizing
======================= */
.placeholder .container {
    background:#ddd;
}

.placeholder header .padding {
    min-height:100px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder .main-content .content-area .padding {
    min-height:300px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder .main-content .sidebar-area .padding {
    min-height:300px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder footer .padding {
    min-height:100px;
    background:#eee;
    border: dashed 2px #999;
}


/* OVERALL LAYOUT
======================= */

/* HEADER STYLES
======================= */

/* MAIN-CONTENT STYLES
======================= */
.main-content {
    padding:10px 0;
}

/* BLOG SPECIFIC STYLES
======================= */
.post {
    margin-bottom:10px;
}

/* SIDEBAR STYLES
======================= */

/* FORM STYLES
======================= */

/* FOOTER STYLES
======================= */

/*
|====================================================
| MEDIA QUERIES
|====================================================
*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	}