/*
|====================================================
| PAGE LAYOUT STYLES
| SITE COLORS:
|	
| SITE FONTS:
|
|====================================================
*/

/* PLACEHOLDER STYLES = remove when customizing
======================= */
.placeholder .container {
    background:#ddd;
}

.placeholder header .padding {
    min-height:100px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder .content-area .padding {
    min-height:300px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder .sidebar-area .padding {
    min-height:300px;
    background:#eee;
    border: dashed 2px #999;
}

.placeholder footer .padding {
    min-height:100px;
    background:#eee;
    border: dashed 2px #999;
}


/* OVERALL LAYOUT
======================= */


/* HEADER STYLES
======================= */
.main-nav.mobile {
	display:none;
}

#mobile-nav-select {
	margin:0;
	padding:0;
}

.mobile-menu {
	border: 1px solid #555;
	padding: 5px;
	width: 100%;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-webkit-appearance: none;
}

.main-nav ul {
	list-style: none;
	margin:0;
	padding:0;
}

.main-nav ul li {
	position:relative;
	z-index:100;
}

.main-nav ul ul {
	border:none;
	position:absolute;
	margin:0;
	padding:10px 0;
	top:25px;
	left:0;
	width:300px;
	background:#ddd;
	display:none;
	z-index:2000;
}

.main-nav ul ul li {
	padding:5px;
}

.main-nav li:hover ul {
	display:block;
}

.main-nav li {
	float:left;
	margin:0;
	padding:0 0 10px 0;
}

.main-nav li li {
	padding:0;
}

.main-nav li a {
	text-decoration:none;
	padding:5px;
	margin-right:25px;
}



/* MAIN-CONTENT STYLES
======================= */
.main-content {
    padding:10px 0;
}

/* BLOG SPECIFIC STYLES
======================= */
.post {
    margin-bottom:10px;
}

/* SIDEBAR STYLES
======================= */

/* FORM STYLES
======================= */

/* FOOTER STYLES
======================= */

/*
|====================================================
| MEDIA QUERIES
|====================================================
*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.main-nav.desktop {
			display:none;
		}

		.main-nav.mobile {
			display:block;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	}